<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>width: 100%</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th,
        td {
            border: 1px solid black;
            padding: 15px;
        }
        a {
            background-color: brown;
            color: white;
            padding: 1em 1.5em;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            margin-top: 10px;
        }
        th {
            background: brown;
        }
    </style>

</head>
<body>
<link  rel = "stylesheet"  href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $('body').on('click', '.toolbar-img', function(){
        var url = prompt('Введите адрес изображения', 'https://sun9-47.userapi.com/c11145/u17421543/-14/m_0762c474.jpg');

        document.execCommand('delete', false, null);
        document.execCommand('selectAll', false, '.toolbar-img' );

        if(url == null) {
            document.execCommand('undo', false, null);
        }else{
            document.execCommand('insertImage', false, url);
        }

        return false;
    });

    $(document).ready(function(){
        $('.editBtn').on('click',function(){
            //hide edit span
            $(this).closest("tr").find(".editSpan").hide();

            //show edit input
            $(this).closest("tr").find(".editInput").show();

            //hide edit button
            $(this).closest("tr").find(".editBtn").hide();

            //show edit button
            $(this).closest("tr").find(".saveBtn").show();

        });

        $('.saveBtn').on('click',function(){
            var trObj = $(this).closest("tr");
            var ID = $(this).closest("tr").attr('id');
            var inputData = $(this).closest("tr").find(".editInput").serialize();
            $.ajax({
                type:'POST',
                url:'/update',
                dataType: "json",
                data:'action=edit&id='+ID+'&'+inputData,
                success:function(response){
                    if(response.status == 'ok'){
                        trObj.find(".editSpan.name").text(response.data.name);
                        trObj.find(".editSpan.author").text(response.data.author);
                        trObj.find(".editSpan.title").text(response.data.title);
                        trObj.find(".editSpan.year").text(response.data.year);
                        trObj.find(".toolbar-img").text(response.data.year);

                        trObj.find(".editInput.name").text(response.data.name);
                        trObj.find(".editInput.author").text(response.data.author);
                        trObj.find(".editInput.title").text(response.data.title);
                        trObj.find(".editInput.image").text(response.data.image);
                        trObj.find(".editInput.year").text(response.data.year);

                        trObj.find(".editInput").hide();
                        trObj.find(".saveBtn").hide();
                        trObj.find(".editSpan").show();
                        trObj.find(".editBtn").show();
                    }else{
                        alert(response.msg);
                    }
                }
            });
        });

        $('.deleteBtn').on('click',function(){
            //hide delete button
            $(this).closest("tr").find(".deleteBtn").hide();

            //show confirm button
            $(this).closest("tr").find(".confirmBtn").show();

        });

        $('.confirmBtn').on('click',function(){
            var trObj = $(this).closest("tr");
            var ID = $(this).closest("tr").attr('id');
            $.ajax({
                type:'POST',
                url:'/deletebook',
                dataType: "json",
                data:'action=delete&id='+ID,
                success:function(response){
                    if(response.status == 'ok'){
                        trObj.remove();
                    }else{
                        trObj.find(".confirmBtn").hide();
                        trObj.find(".deleteBtn").show();
                        alert(response.msg);
                    }
                }
            });
        });
    });
</script>

<div class="container " xmlns:max-width="http://www.w3.org/1999/xhtml">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Библиотека</div>
                <div class="card-body">
                    <div class="toolbar">
                        <table  class="table table-striped table-bordered" id="dataTable">
                            <thead>
                                <tr>
                                    <th width="5%">id</th>
                                    <th width="5%">Название</th>
                                    <th width="10%">Автор</th>
                                    <th width="10%">Описание</th>
                                    <th width="30%">Обложка</th>
                                    <th width="15%">Год публикации</th>
                                    <th width="15%">Действия</th>
                                </tr>
                                </thead>
                                <tbody id="userData">
                                {% for arr in array %}
                                <tr id="{{ arr.id}}">
                                    <td>{{ arr.id}}</td>
                                    <td>
                                        <span class="editSpan name">{{ arr.name}}</span>
                                        <input class="editInput name form-control input-sm" type="text" name="name"
                                               value="{{ arr.name}}" style="display: none;">
                                    </td>
                                    <td>
                                        <span class="editSpan author">{{ arr.author}}</span>
                                        <input class="editInput author form-control input-sm" type="text" name="author"
                                               value="{{ arr.author}}" style="display: none;">
                                    </td>
                                    <td>
                                        <span class="editSpan title">{{ arr.title}}</span>
                                        <input class="editInput title form-control input-sm" type="text" name="title"
                                               value="{{ arr.title}}" style="display: none;">
                                    </td>
                                    <td><img src="{{ arr.image }}" alt="" width="135" height="135" class="photo">
                                        <input class="editInput image form-control input-sm" type="file" name="image"
                                               value="{{ arr.image}}" style="display: none;">
                                    </td>
                                    <td>
                                        <span class="editSpan year">{{ arr.year}}</span>
                                        <input class="editInput year form-control input-sm" type="text" name="year"
                                               value="{{ arr.year}}" style="display: none;">
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-sm btn-default editBtn" style="float: none;"><span class="glyphicon glyphicon-pencil"></span></button>
                                            <button type="button" class="btn btn-sm btn-default deleteBtn" style="float: none;"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                        <button type="button" class="btn btn-sm btn-success saveBtn" style="float: none; display: none;">Save</button>
                                        <button type="button" class="btn btn-sm btn-danger confirmBtn" style="float: none; display: none;">Confirm</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="/form" class="mb-1 btn btn-primary" type="button">
                        Добавить книгу
                    </a>
                    <a href="/updateevent" class="mb-1 btn btn-primary" type="button">
                        К авторам
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>